<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登録画面</title>
</head>
<body>
<form method="POST" action="/login">

    <div class="main" style="text-align:center;">
        <p style="margin-bottom: 10px;">ユーザID　　　　　
            <input type="text" name="id" size="15" autocomplete="off"></p>
        <p>パスワード　　　　
            <input type="password" name="old_password" size="15" autocomplete="off"></p>
        <p>新しいパスワード　
            <input type="password" name="new_password" size="15" autocomplete="off"></p>
        <p>　</p>

        <div class="button">
            <p><button style="background-color:#328CC1;" class="button1" type="submit"><font color="white">変更</font></button></p>
        </div>
    </div>

</form>
</body>
</html>